<div class="card" style="height: 100%;">
    <div class="card-body">
        <h5 class="card-title">{{album.title}}</h5>
        <p class="card-text">Belongs to: {{album.userId}}</p>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <button type="button"
            class="btn btn-primary me-2"
            (click)="showEditAlbumModal()">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button"
            class="btn btn-outline-danger"
            (click)="showDeleteAlbumModal()">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>
