<div>
    <div class="image-wrapper">
        <img src="/assets/codelabs-logo.svg" alt="Logo SVG">
    </div>
</div>


<ng-container *ngIf="loading; else loaded">
    <app-loading></app-loading>
</ng-container>

<ng-template #loaded>
    <ng-container *ngIf="!albums.length; else albumsExists">
        <p>No albums found</p>
    </ng-container>

    <ng-template #albumsExists>
        <div class="row">
            <div class="col-md-12" *ngFor="let album of albums">
                <app-album-card [album]="album"></app-album-card>
            </div>
        </div>
    </ng-template>
</ng-template>
