<div class="widgetContainer">
    <div class="widgetWrapper">
        <div class="widgetGoalTitle">
            pedro's weekly goal
        </div>
        <div class="widgetLoader">
            <small class="top">Current</small>
            <span class="middle">{{selectedData.loader.current}}m</span>
            <span class="bottom"><b>{{selectedData.loader.max}}m Goal</b></span>
            <svg class="containerPath" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="216.1px" height="188.4px" viewBox="0 14 216.1 188.4" enable-background="new 0 14 216.1 188.4" xml:space="preserve">
                <path class="grayPath" fill="none" stroke="#dfe3e9" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="   M 177.5, 181.4   c 19.4-18.4, 31.5-44.5, 31.5-73.3   c 0-55.8-45.2-101-101-101   S 7,52.2,7,108   c 0,28.9,12.1,54.9,31.5,73.3">
                </path>
                <path class="bluePath" fill="none" stroke="#4990e2" stroke-dasharray="0, 490" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="   M 177.5, 181.4   c 19.4-18.4, 31.5-44.5, 31.5-73.3   c 0-55.8-45.2-101-101-101   S 7,52.2,7,108   c 0,28.9,12.1,54.9,31.5,73.3">
                </path>
            </svg>

        </div>
        <div class="widgetGoalInfo">
            <span class="goalInfo"><b>{{selectedData.mins}}</b> more mins. to achieve this week's Goal.</span>
            <div class="streakWrapper ">
                <div class="streak">
                    <span class="streakNumber">
                        <b>{{selectedData.streak.current}}</b>
                    </span>
                    <span><b>Current Streak</b></span>
                </div>
                <div class="streak">
                    <span class="streakNumber">
                        <b>{{selectedData.streak.best}}</b>
                    </span>
                    <span><b>Best Streak</b></span>
                </div>
            </div>
        </div>
        <div class="widgetLeaderboardTitleWrapper">
            <span class="leaderboardTitle">leaderboard</span>

            <div class="leaderboardSelect">
                <select name="leaderboard"
                    [(ngModel)]="range"
                    (ngModelChange)="onChange($event)">
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                </select>
            </div>
        </div>
        <div class="widgetLeaderboardList">
            <ng-template ngFor let-item [ngForOf]="selectedData.list" let-i="index">
                <app-list-item
                    style="flex: 1; display: flex;"
                    [item]="item"
                    [index]="i"
                ></app-list-item>
            </ng-template>
        </div>
    </div>
</div>
